.mainContainer {
  background-image: linear-gradient(to top, #06071f 0%, #0c0c40 100%);
  max-width: 640px;
  margin: 24px auto;
  padding: 32px 32px;
  border-radius: 24px;
  font-family: "Karla", sans-serif;
}
.form-inline {
  margin: 8px 0px 24px 0px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}
.form-control {
  padding: 16px;
  font-weight: 400;
  font-size: 16px;
  background-color: #353563;
  border-color: #353563;
  width: 480px;
  margin: 0px 32px 0px 4px;
}
h1 {
  text-align: center;
  font-weight: 500;
  font-size: 60px;
  color: #f4f7f8;
  padding: 4px;
  margin-top: 64px;
}
h2 {
  text-align: center;
  font-weight: 500;
  font-size: 60px;
  color: #f4f7f8;
}
h3 {
  text-align: center;
  color: #f4f7f8;
  font-weight: 400;
  font-size: 16px;
  margin: 24px;
}
.weathericon {
  display: block;
  margin: auto;
}
.btn-primary {
  background: #ec552b;
  border: none;
  border-radius: 8px;
  color: #06071f;
  padding: 16px 24px;
  float: right;
}
.btn-primary:hover {
  background: #ec552b;
  border: none;
  border-radius: 8px;
  color: #06071f;
  padding: 16px 24px;
  float: right;
}
.btn-outline-primary {
  display: block;
  margin: auto;
  border-color: #ec552b;
  border-radius: 8px;
  color: #ec552b;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;
}
.btn-outline-primary:hover {
  display: block;
  margin: auto;
  border-color: #ec552b;
  background-color: #ec552b;
  border-radius: 8px;
  color: #06071f;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;
}
.col-sm-6 {
  padding: 0;
  margin: 8px 16px 16px 16px;
  width: 112px;
}
.card {
  margin: 16px 0 8px 0;
  border-radius: 32px;
  border-color: #11113a;
  border: none;
}
.card-body {
  background-color: #11113a;
  border-radius: 16px;
  border: none;
}
.card-title {
  color: #f4f7f8;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  margin: 0;
}
.container {
  padding: 0;
}
.col-2 {
  color: #f4f7f8;
  padding: 4px 4px 4px 4px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  margin-right: 0;
  margin-left: 0;
  width: 94px;
  padding: 0;
  height: fit-content;
}
.list-group-horizontal-sm {
  background-color: #11113a;
  border: none;
  padding: 8px;
  flex-direction: row;
  min-width: 576px;
}
.list-group {
  display: flex;
}
.list-group-item {
  padding: 16px 0 0 0;
  background-color: #11113a;
  color: #f4f7f8;
  font-size: 20px;
  list-style-type: none;
  display: block;
  text-align: center;
}
.github-link {
  text-align: center;
}
.github {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #11113a;
  padding-bottom: 80px;
  text-decoration: none;
}
.name {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #11113a;
  text-decoration: none;
}
.forecasticon {
  display: inline-block;
  width: 48px;
}
.climateicon {
  width: 48px;
}
